<%- include('./partials/header') -%>
<div id="instructions">
    <div class="ready instructions">
        <h1>Instructions</h1>
        <ul>
            <li>Use the number pad provided to enter the number</li>
            <li>Click on submit to check if the entered number is the right number</li>
            <li>If the entered number is lower or higher than the given number, you will be notified regarding the same</li>
            <li>There will be maximum of 5 chances to guess the number</li>
        </ul>
        <div class="btns">
            <button href="/play-game" class="btn ins-btn green">Yes!</button>
        </div>
    </div>
</div>
<%- include('./partials/footer') -%>